html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif !important;
}

#map {
  height: calc(100% - 52px);
}

#title {
  font-size: 25px;
  vertical-align: middle;
}

.w3-hover-teal {
  cursor: pointer;
}

.infowindow-text {
  max-width: 250px;
}

.logo {
  padding: 5px 5px 0 0;
}
